@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

html {
    box-sizing: border-box;
    font-family: Poppins, Helvetica, sans-serif;
    line-height: 1.5rem;
    font-size: 100%;
}

body {
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
    max-width: 1400px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* nav-bar */
nav {
    padding: 20px;
    background-color: #87bdd8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 1rem;
    overflow: hidden;
    margin-bottom: 20px;
    color: #daebe8;
    
}

#logo {
    font-size: 3rem;
    transform: rotate(180deg);
    color: darkblue;
    margin: 0 auto;
    padding-left: 20px;
}

.nav-links{
    text-transform: uppercase;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}

.nav-item{
    flex: 1 0 50%;
    text-align: center;
}

.nav-links a {
    color: darkblue;
    display: block;
    text-decoration: none;
    letter-spacing: 0.2rem;
    padding: 0.8rem;
    transition: all ease-in-out 0.5s;
}

.nav-links  a:hover {
    background-color: skyblue;
    border-radius: 50%;
    transform: scale(1.2);
}

.active {
    text-decoration: underline;
}


 /* hero image */
 #hero-outer {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
  }
  
  
  #hero-image {
    height: 100%;
    width: 100%;
    background-image: url('../images/hero1-antoine-beauvillain-zY_NaksFH1k-unsplash.webp');
    background-size: cover;
    background-position: center;
  }
  
  #hero-text {
    font-size: 1.1em;
    color: black;
    margin: auto;
    text-align: center;
  }

   /* Short Info */
.short-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #cfe0e8;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .short-info-text {
    margin: 20px 50px;
    font-size: 1.2rem;
    text-align: center;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .short-info-image {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
  }
  
  #short-info-image-one {
    background-image: url('../images/person-cry-pexels-karolina-grabowska-4472021.webp');
  }
  #short-info-image-two {
    background-image: url('../images/forced-smile-pexels-ketut-subiyanto-4584534.webp');
  }

  /* Contact */
.contact {
    margin: 40px auto 0 auto;
    width: 80%;
    border: 3px solid  #b7d7e8;
    border-radius: 25px;
    box-shadow: 5px 10px #87bdd8;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
  }
 
  .contact button {
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px #87bdd8;
    background-color: #daebe8;
    letter-spacing: 2px;
    border-radius: 25px;
    padding: 20px;
  }

  .contact button:hover {
    background-color: #87bdd8;
    color: #fff;
  }

  /* location info */
.location-info {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px 20px;
    justify-content: center;
  }
  
  .address {
    height: 400px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

.address > div {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 10px;
  }
  
  .address h2 {
    letter-spacing: 2px;
    margin-bottom: 0;
  }
  
  #address-image {
   background-image: url('../images/Pantheon_(Rome)_-_Right_side_and_front.webp');
   width: 100%;
   height: 100%;
   margin: 0 auto;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
  }

/* location map */
.location-map {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;

}

.location-map iframe{

    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    max-height: 500px;
}

  /* footer */
footer {
    color: #fff;
    background-color: #87bdd8;
}
  
  .social-links  {
    text-align: center;
  }
  
  .social-networks {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
}
  
  .social-networks li {
    list-style: none;
  
  }
  
  .social-networks a {
    color: darkblue;
    text-decoration: none;
  }
  
  .social-networks a:hover {
    filter: invert(1);
  }

  .copyright {
    color: darkblue;
    display: flex;
    justify-content: center;
    background-color: #cfe0e8;
  }

  .icons-text {
    display: none;
  }

  /* articles */
.articles {
  display: flex;
  flex-direction: column;
  background-color:#b7d7e86c;
}

.articles > h1 {
  text-align: center;
}
.article-heading {
  margin: auto;
  background-size: cover; 
  height: 300px;
  background-position: center;
}

.article-title {
  position: absolute;
  color: #fff;
  background-color: #cfe0e898;
  background-clip: content-box;
  text-align: center;
  margin: 10px 5%;
  text-shadow: 1px 1px #000;
}

.article-title > h2 {
  padding: 0 5px;
}

#article-1 > .article-heading {
  background-image: url('../images/caju-gomes-QDq3YliZg48-unsplash.webp');
}

#article-2 > .article-heading {
  background-image: url('../images/nicholas-kusuma-xb2DaEeX8jk-unsplash.webp');
}

#article-3 > .article-heading {
  background-image: url('../images/pexels-gratisography-1990.webp');
  }

#article-4 > .article-heading {
  background-image: url('../images/pexels-yan-krukov-7640764.webp');
  }

.article-text {
  padding: 0 10px;
  text-align: justify;
}

/* videos gallery */
.videos-heading {
  text-align: center;
  font-size: 1.5em;
  padding: 0 10px;
  letter-spacing: 1.2px;
}

.videos {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.video-container {
  padding: 10px;
}

iframe.video {
  width: 100%;
  height: 300px;
}

/* contact section */
.contact-section {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#contact-image {
  display: unset;
  display: none;
}

.contact-inner {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
}

.contact-section #motto {
  font-size: x-large;
  font-weight: 500;
}

.contact-section form {
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}

.contact-section form div {
  font-size: 1rem;
}

.personal-details, .message-details{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.personal-details > div *{
  display: flex;
  width: 100%;
}

#submit {
  width: 100px;
}

input, input::placeholder, textarea {
  font-size: large;
  font-family: inherit;
}

.contact-us > h1 {
  text-align: center;
}

/* media queries for min-widths of 600px and 900px */
  @media (min-width: 600px) {
    .navbar {
        line-height: 1.5rem;
    }

    .nav-links {
        width: 100%;
    }

    .nav-item {
        flex: 1 0 10%;
    }

    #hero-outer {
        height: 600px;
        width: 100%;
        overflow: hidden;
        position: relative;
        display: inline-block;
        margin-bottom: 50px;
    }
      
    #hero-text,
    #hero-text h1 {
      color: #fff;
    }

    #hero-text {
        font-size: 1.3em;
        letter-spacing: 5px;
        width: 250px !important;
        background-color: #cfe0e898;
        top: 10%;
        left: 2.5%;
        text-align: center;
        vertical-align: middle;
        position: absolute;
        background-clip: content-box;
      }

      #hero-image {
        height: 100%;
        width: 100%;
        background-image: url('../images/hero1-antoine-beauvillain-zY_NaksFH1k-unsplash.webp');
        background-size: cover;
      }
      
      .short-info {
        flex-flow: row;
        flex: 1 1 0;
      }

      .column {
        flex-basis: 50%;
        justify-content: space-between;
      }

      .address {
        height: 250px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }
    
    .address > div {
        padding-top: 30px;
        padding-left: 30px;
        font-size: large;
        display: flex;
      }
      
      .address h2 {
        text-align: center;
      }

      .address hr {
        margin-left: 10px;
        margin-right: 10px;
      }
      #address-image {
        max-width: 300px;
      }

      .articles {
        margin-bottom: 50px;
      }
      
      article {
        display: flex;
        margin: 50px auto;
        min-height: auto;
      }
      
      article > div {
        display:flex;
      }
      
      .first {
        margin: 0;
      }
      .second {
        flex-direction: row-reverse;
      }
      
      .article-heading {
        margin: 0 10px;
        flex: 1;
        padding: 1rem;
      }

      .article-title {
        position: relative;
        background-clip: content-box;
        height: fit-content;
        text-align: center;
      }

      .article-text {
        flex: 2;
        margin: 0;
        text-align: justify;
        justify-content: center;
        font-size: larger;
      }
      
      .article-text > p {
        margin: auto;
        padding: 1rem; 
      }
      

    #contact-image {
      display: unset;
      margin: 0 auto;
      padding-top: 50px;
      padding-right: 20px;
      background-image: url('../images/pexels-pia-kafanke-3807702-smaller.webp');
      width: 80%;
      height: 65vh;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

      .contact-inner {
        width: 50%;
      }

      .contact {
        max-width: 400px;
      }
      
      .address {
        padding-right: 30px;
      }

      .address h3  {
        text-align: right;
      }

      .location-map {
        padding-bottom:35%;    
    }
    
    iframe.video {
      width: 100%;
      height: 400px;
    } 
}

@media (min-width: 900px) {
    .navbar {
        justify-content: space-between;
    }

    .nav-links {
        width: auto;
    }

    .logo {
        margin-right: auto;
    }

    .location-info {
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }

    .icons-text {
      display: unset;
    }

    .fab {
      display: none !important;
    }

    .contact-section {
      padding: 40px 20px;
    }
  
    .contact-inner {
      width: 50%;
      max-width: 600px;
    }

    .video-container {
      padding: 20px;
    }

    iframe.video {
      width: 100%;
      height: 600px;
    }
    
}
