@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

body {
    font-family: Poppins;
    padding: 20px;
}

nav {
    width: 100%;
    background-color: #7589F0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin-right: 10px;
  }

  nav a {
    font-size: 1.7em;
    color: black;
    text-decoration: none;
    padding: 0 20px;
  
  }
  
  #logo {
    display: flex;
    font-weight: 900;
    margin-left: 10px;
    text-align: center;
    align-items: center;
  }

  .nav-item a {
    display: inline-block;
    color: black;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-align: center;
  }
  
  .nav-item:hover, .logo:hover {
    border: solid teal 1px;
    margin: -1px;
    border-radius: 10px;
  }

  
  .active {
    background: #C7CEF3;
    border-radius: 10px;
  }

  /* hero image */

  #hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
  }
  
  #hero-text,
  #hero-text h1 {
    color: #fff;
  }
  
  #hero-image {
    height: 100%;
    width: 100%;
    background-image: url('../images/hero1-antoine-beauvillain-zY_NaksFH1k-unsplash.jpg');
    background-size: cover;
  }
  
  #hero-text {
    font-size: 1.3em;
    letter-spacing: 5px;
    width: 250px;
    height: 150px;
    background-color: #7589f065;
    top: 10%;
    left: 2.5%;
    text-align: center;
    vertical-align: middle;
    position: absolute;
  }

  /* Short Info */

.short-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.short-info-text {
  width: 400px;
  font-size: 1.5rem;
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.short-info-image {
  width: 350px;
  height: 350px;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}

#short-info-image-one {
  background-image: url('../images/person-cry-pexels-karolina-grabowska-4472021.jpg');
}
#short-info-image-two {
  background-image: url('../images/forced-smile-pexels-ketut-subiyanto-4584534.jpg');
}

/* Contact */

.contact {
  margin: auto;
  width: 50%;
  border: 3px solid teal;
  border-radius: 25px;
  box-shadow: 5px 10px #7589F0;
  padding: 20px;
  text-align: center;
  font-size: x-large;
}


.contact button {
  font-size: x-large;
  font-weight: bold;
  color: mediumblue;
  text-shadow: 1px 2px lightskyblue;
  background-color: #C7CEF3;
  letter-spacing: 2px;
  border-radius: 25px;
  padding: 20px;
}

/* location info */
.location-info {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.address {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.location-info > iframe {
  width: 100%;
}

.address > div {
  padding-top: 30px;
  padding-left: 30px;
  font-size: large;
}

.address h3 {
  letter-spacing: 2px;
  margin-bottom: 0;
}

#address-image {
 background-image: url('../images/Pantheon_(Rome)_-_Right_side_and_front.jpg');
 width: 500px;
 height: 500px;
 background-size: contain;
 background-repeat: no-repeat;
}

/* footer */
footer {
  color: #fff;
  background-color: #7589F0;
  padding: 10px 0;
}

.social-links  {
  text-align: center;

}

.social-networks {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  margin-bottom: 10px;
  margin-right: 50px;
  background-color: #7589F0;
}

.social-networks li {
  list-style: none;

}

.social-networks a {
  color: #fff;
  text-decoration: none;
}

.copyright {
  display: flex;
  justify-content: center;
}

/* articles */
.articles {
  margin-bottom: 50px;
}

.articles > h1 {
  text-align: center;
}

article {
  display: flex;
}

article > div {
  background-color: purple;
  display:flex;
  justify-content: column;
  margin: 1rem auto 0 auto;
}

.second {
  flex-direction: row-reverse;
}
.article-heading {
  background-color: red;
  color: greenyellow;
  flex: 1;
  padding: 1rem;
}

.article-text {
  background-color: lightgrey;
  flex: 2;
  padding: 1rem;
}
