@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: Poppins;
    padding: 20px;
}

nav {
    width: 100%;
    background-color: #7589F0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin-right: 10px;
  }
  
  nav a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
  
  }
  
  .logo {
    display: inline-block;
    font-weight: 900;
    font-size: 1.2em;
    margin-left: 10px;
  }
  
  .nav-item a {
    display: inline-block;
    color: black;
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 1.5px;
  }
  
  .nav-item:hover {
    border: solid teal 1px;
    margin: -1px;
    border-radius: 10px;
  }
  
  .active {
    background: #C7CEF3;
    border-radius: 10px;
  }