@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

body {
    font-family: Poppins;
    padding: 20px;
    /* background-color:#fefbd8; */
    background-color:#fbf9e6;

}

nav {
    width: 100%;
    background-color: #7589F0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin-right: 10px;
  }

  nav a {
    font-size: 1.2em;
    color: black;
    text-decoration: none;
    padding: 0 20px;
  
  }
  
  #logo {
    display: flex;
    margin-left: 10px;
    text-align: center;
    align-items: center;
  }

  .nav-item a {
    display: inline-block;
    color: black;
    letter-spacing: 1.5px;
    text-align: center;
  }
  
  .nav-item:hover, .logo:hover {
    border: solid teal 1px;
    margin: -1px;
    border-radius: 10px;
  }

  
  .active {
      background: #8b99e9;
      border-radius: 5px;
  }

  /* hero image */

  #hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
  }
  
  #hero-text,
  #hero-text h1 {
    color: #fff;
  }
  
  #hero-image {
    height: 100%;
    width: 100%;
    background-image: url('../images/hero1-antoine-beauvillain-zY_NaksFH1k-unsplash.jpg');
    background-size: cover;
  }
  
  #hero-text {
    font-size: 1.3em;
    letter-spacing: 5px;
    width: 250px;
    height: 150px;
    background-color: #7589f065;
    top: 10%;
    left: 2.5%;
    text-align: center;
    vertical-align: middle;
    position: absolute;
  }

  /* Short Info */

.short-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.short-info-text {
  width: 400px;
  font-size: 1.2rem;
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.short-info-image {
  width: 350px;
  height: 350px;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}

#short-info-image-one {
  background-image: url('../images/person-cry-pexels-karolina-grabowska-4472021.jpg');
}
#short-info-image-two {
  background-image: url('../images/forced-smile-pexels-ketut-subiyanto-4584534.jpg');
}

/* Contact */

.contact {
  margin: auto;
  width: 600px;
  border: 3px solid #394375;
  border-radius: 25px;
  box-shadow: 5px 10px #7589f0;
  padding: 20px;
  text-align: center;
  font-size: large;
}


.contact button {
  font-size: large;
  font-weight: bold;
  color: mediumblue;
  text-shadow: 1px 1px hsl(230, 64%, 76%);
  background-color: #C7CEF3;
  letter-spacing: 2px;
  border-radius: 25px;
  padding: 20px;
}

/* location info */
.location-info {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.address {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.location-info > iframe {
  width: 100%;
}

.address > div {
  padding-top: 30px;
  padding-left: 30px;
  font-size: large;
}

.address h3 {
  letter-spacing: 2px;
  margin-bottom: 0;
}

#address-image {
 background-image: url('../images/Pantheon_(Rome)_-_Right_side_and_front.jpg');
 width: 500px;
 height: 500px;
 background-size: contain;
 background-repeat: no-repeat;
}

/* footer */
footer {
  color: #fff;
  background-color: #7589F0;
  padding: 10px 0;
}

.social-links  {
  text-align: center;

}

.social-networks {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  margin-bottom: 10px;
  margin-right: 50px;
  background-color: #7589F0;
}

.social-networks li {
  list-style: none;

}

.social-networks a {
  color: #fff;
  text-decoration: none;
}

.copyright {
  display: flex;
  justify-content: center;
}

/* articles */
.articles {
  margin-bottom: 50px;
}

.articles > h1 {
  text-align: center;
}

article {
  display: flex;
  margin: 50px auto;
}

article > div {
  display:flex;
  margin: 1rem auto 0 auto;
}

.first {
  margin: 0;
}
.second {
  flex-direction: row-reverse;
}

.article-heading {
  color: darkblue;
  flex: 1;
  padding: 1rem;
  border-radius: 10px;
}

.article-heading > h3 {
  background-color: #c7cef398;
  height: fit-content;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}
.article-text {
  flex: 2;
  margin: auto auto;
  text-align: justify;
  font-size: larger;
}

.article-text > p {
  padding: 30px;
}

.first p {
  margin-left: 5rem;
  margin-right: 2rem;
  background-color: #d5f4e6;
}

.second p {
  margin-right: 5rem;
  margin-left: 2rem;
  background-color: #80ced6;
}

#article-1 > .article-heading {
  background-image: url(../images/caju-gomes-QDq3YliZg48-unsplash.jpg);
  margin: auto;
  background-size: cover; 
  height: 300px;
  background-position-x: center;
  background-position-y: center;
}

#article-2 > .article-heading {
  background-image: url(../images/nicholas-kusuma-xb2DaEeX8jk-unsplash.jpg);
  margin: auto;
  background-size: cover; 
  height: 300px;
  background-position-x: center;
  background-position-y: center;
}

#article-3 > .article-heading {
  background-image: url(../images/pexels-gratisography-1990.jpg);
  margin: auto;
  background-size: cover; 
  height: 300px;
  background-position-x: center;
  background-position-y: center;
}

#article-4 > .article-heading {
  background-image: url(../images/pexels-yan-krukov-7640764.jpg);
  margin: auto;
  background-size: cover; 
  height: 300px;
  background-position-x: center;
  background-position-y: center;
}

/* awareness videos */
.videos-heading {
  text-align: center;
  font-size: xx-large;
  font-weight: 400;
  padding-bottom: 20px;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.row {
  flex: 0 0 50%;
  width: 100%;
}

.video-container {
  justify-content: center;
  text-align: center;
  padding-bottom: 50px;

}

.video {
  width: 500px;
  height: 500px;
}

/* contact section */

.contact-section {
  padding: 50px auto;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.contact-inner {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
}

.contact-section #motto {
  font-size: x-large;
  font-weight: 500;
}

.contact-section form {
  font-size: large;
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}

.personal-details, .message-details{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.personal-details > div *{
  display: flex;
  width: 100%;
}
#submit {
  width: 100px;
}

input, input::placeholder, textarea {
  font-size: large;
  font-family: inherit;
}

#contact-image {
  flex-flow: column;
  float: left;
  margin: 0 auto;
  padding-top: 50px;
  background-image: url(../images/pexels-pia-kafanke-3807702-smaller.jpg);
  width: 350px;
  height: 450px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-us > h1 {
  text-align: center;
}