@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
* {
  box-sizing: border-box;
}

body {
    font-family: Poppins;
    padding: 20px;
}

nav {
    width: 100%;
    background-color: #7589F0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin-right: 10px;
  }
  
  nav a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
  
  }
  
  #logo {
    display: flex;
    font-weight: 900;
    font-size: 20px;
    margin-left: 10px;
    text-align: center;
    align-items: center;
  }

  .nav-item a {
    display: inline-block;
    color: black;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-align: center;
  }
  
  .nav-item:hover, .logo:hover {
    border: solid teal 1px;
    margin: -1px;
    border-radius: 10px;
  }

  
  .active {
    background: #C7CEF3;
    border-radius: 10px;
  }

  /* hero image */

  #hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
  }
  
  #hero-text,
  #hero-text h1 {
    color: #fff;
  }
  
  #hero-image {
    height: 100%;
    width: 100%;
    background-image: url('../images/hero1-antoine-beauvillain-zY_NaksFH1k-unsplash.jpg');
    background-size: cover;
  }
  
  #hero-text {
    font-size: 1.3em;
    letter-spacing: 5px;
    width: 250px;
    height: 150px;
    background-color: #7589f065;
    top: 10%;
    left: 2.5%;
    text-align: center;
    vertical-align: middle;
    position: absolute;
  }

  /* Short Info */

.short-info-image {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}

.short-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.short-info > div {
  flex: 1 1 50%;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 30px;
}

.short-info-text {
  font-size: 1.3em;
  text-align: center;
}
#short-info-image-one {
  background-image: url("../images/person-cry-pexels-karolina-grabowska-4472021.jpg");
  float: right;
}
#short-info-image-two {
  background-image: url("../images/forced-smile-pexels-ketut-subiyanto-4584534.jpg");
  float: left;
}